.detailProduct{

    margin-top: 2%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 2%                                                                                       ;
    .slideImage{
        .slide{
            .carousel-indicators{
                margin-bottom:-5px;
                .active{
                    background-color: red;
                }
           }
          .carousel-inner{
              img{
                height: 390px;
                margin-top: 0px;
                border:2px solid #848484;
               
              }
          }
          a{
              .carousel-control-prev-icon{
                  height: 30px !important;
                  width: 20px;
                  padding:11px;
                margin-left:-65px !important;
                background-color: rgba(51,51,51,.7) ;
              }
              
             .carousel-control-next-icon{
                height: 30px !important;
                width: 20px;
                background-color: rgba(51,51,51,.7) ;
                padding:11px;
                margin-left:65px !important;
             }
          }
        }
    }
    .info{
        margin-left: 2%;
       .img{
        width: 52px;
        height: 52px;
        margin-top: 0px;
            border:1px solid #BDBDBD;
            -moz-box-shadow:0 0 8px #808451;
            -webkit-box-shadow:0 0 15px #808451;
            box-shadow:0 0 15px #808451;
        
           img{
               padding: 2px;
               width: 50px;
               height: 50px;
           }
        } 
       .info_person{
           margin-left: 2%;
           .name_user{
               color:black;
               font-weight: bold;
           }
           .phone{
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
               i{  
                   font-size: 14px;
                   color:white;
               }
               color: white;
               border-radius: 5px;
               background-color:#6E6E6E;
           }

       }
    }
  
    .content{
        .title{
            color:blue;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 1.5%;
        }
        .content_news{
            margin-top: 20px;
            font-size: 16px;
            color:#585858;
            padding:2%;
            overflow-y: auto;
            height: 155px;
            margin-top: 0px;
            border:1px solid #BDBDBD;
        }
    }
    .next_content{
        margin-left: 2%;
        margin-top: 1%;
        .prices{
            .price{
                .text_price{
                    font-size: 17px;
                    color:#585858;
                    font-weight: bold;
                }
                .numberPrice{
                    font-weight: 500;
                   
                }
            }
            .unit{
                margin-left:2px;
            }
            .size{
                margin-left: 20%;
                .text_size{
                    color:#585858;
                    font-weight: bold;
                }
            }
        }
        .rooms{
            .bath{
                .text_bath{
                    color:#585858;
                    font-weight: bold;
                }
            }
            .bad{
                margin-left: 21%;
                .text_bad{
                    color:#585858;
                    font-weight: bold;  
                }
            }
        }
        .address{
            margin-top: 1%;
            .text_address{
                color:#585858;
                font-weight: bold;
            }
        }
    }
           
}